@model ImportPermitPortal.EF.Model.ProcessingHistory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br /><br /><br /><br /><br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProcessingHistory</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationId, "ApplicationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ApplicationId", String.Empty)
                @Html.ValidationMessageFor(model => model.ApplicationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StepId, "StepId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StepId", String.Empty)
                @Html.ValidationMessageFor(model => model.StepId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, "EmployeeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeId", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StepStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StepStatus)
                @Html.ValidationMessageFor(model => model.StepStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StepActivityType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StepActivityType)
                @Html.ValidationMessageFor(model => model.StepActivityType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProcessStatus)
                @Html.ValidationMessageFor(model => model.ProcessStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssignedTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssignedTime)
                @Html.ValidationMessageFor(model => model.AssignedTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateLeft, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateLeft)
                @Html.ValidationMessageFor(model => model.DateLeft)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Outcome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Outcome)
                @Html.ValidationMessageFor(model => model.Outcome)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
