@model IEnumerable<ImportPermitPortal.EF.Model.Process>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br /><br /><br /><br /><br /><br />
<h4>Processes</h4>

<p>
    <a href="/Process/Create" style="color:blue" class="control-label">Create Process</a>
</p>
<table >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th>
           Duration(Minutes)
        </th>
        <th>
           Work Flow
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedDeliveryDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkFlow.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "control-label", @style = "color: blue" })  |
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "control-label", @style = "color: blue" })  |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "control-label", @style = "color: blue" }) 
        </td>
    </tr>
}

</table>
