@model ImportPermitPortal.EF.Model.Step

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Step</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NextStepId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NextStepId)
                @Html.ValidationMessageFor(model => model.NextStepId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessId, "ProcessId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProcessId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProcessId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SequenceNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SequenceNo)
                @Html.ValidationMessageFor(model => model.SequenceNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, "GroupId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GroupId", String.Empty)
                @Html.ValidationMessageFor(model => model.GroupId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StatusCode)
                @Html.ValidationMessageFor(model => model.StatusCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityTypeId, "ActivityTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ActivityTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.ActivityTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Instructions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instructions)
                @Html.ValidationMessageFor(model => model.Instructions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedDeliveryDuration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpectedDeliveryDuration)
                @Html.ValidationMessageFor(model => model.ExpectedDeliveryDuration)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
