@model ImportPermitPortal.EF.Model.EmployeeRole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br /><br /><br /><br /><br />
<div>
    <h4>Employee Role</h4>
	<hr />
    <dl class="dl-horizontal">
       

      

        <dt>
            @Html.DisplayNameFor(model => model.AspNetRole.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRole.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "control-label", @style = "color: blue" })  |
    @Html.ActionLink("Back to List", "Index", new { id = Model.Id }, new { @class = "control-label", @style = "color: blue" })
</p>
